*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.body {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    display: grid;
    grid-template-columns: 1fr 7fr 8fr;
    grid-template-rows: 0.3fr auto auto 1fr;
    grid-template-areas: 
    "header header header"
    "banner banner banner"
    "main main main"
    "footer footer footer";
}

.bodyb {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    width: auto;
    overflow-x: hidden;
}


.body_galeria {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 0.3fr auto auto auto;
    grid-template-areas: 
    "header header"
    "banner banner"
    "main main"
    "footer footer";
}

.body_nosotros {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 0.3fr auto auto 1fr;
    grid-template-areas: 
    "header header"
    "banner main"
    "banner main"
    "footer footer";
}

@media screen and (max-width: 768px) {

    .body {
        font-size: 38px;
        grid-template-columns: auto auto;
        grid-template-rows: 0.1fr auto auto 1fr;
        grid-template-areas: 
        "header header"
        "banner banner"
        "main main"
        "footer footer";
    }

    .bodyb {
        font-family: 'Roboto', sans-serif;
        font-size: larger;
        width: auto;
        overflow-x: hidden;
    }

    .body_nosotros {
        font-family: 'Roboto', sans-serif;
        font-size: larger;
        display: grid;
        grid-template-columns:  auto auto;
        grid-template-rows: 0.3fr auto auto 1fr;
        grid-template-areas: 
        "header header"
        "banner banner"
        "main main"
        "footer footer";
    }
}
/* ------------------------------ HEADER ------------------------------------------ */

.header {
    grid-area: header;
    display: flex;
    width: 100%;
    height: 8%;
    position: fixed;
    background-color: #6b1630;
    border-bottom:groove 4px #ffbaaf;
    height: auto;
    z-index: 999;
}

.headerb {
   /*  position: fixed; */
    background-color: #6b1630;
    border-bottom:groove 4px #ffbaaf;
    z-index: 999;
    width: 100%;
    height: 12%;
}

.s {
    max-width: 100%;
}

.botonSandwich {
    background-color: #c92a5a;
}

.nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
}

.sizeLogo{
    margin-top: 6px;
    margin-left: 5px;
    height: 50px;
    width: 50px;
}

.sizeLogob{
    display: flex;
    align-items: center;
    justify-items: center;
    height: 50px;
    width: 50px;
}

.lista li {
    padding: 20px 20px;
    z-index: 1000;
    list-style: none;
}

.listab li {
    padding-left: 12px;
    padding-right: 12px;
    
    z-index: 1000;
    list-style: none;
}

.link {
    color: #ffbaaf;
}

.animacion :hover{
    color: #c92a5a;
}

@media screen and (max-width: 768px) {
    .sizeLogo{
        margin-top: 10px;
        margin-left: 10px;
        height: 90px;
        width: 90px;
    }

    .lista li {
        font-size: 45px;
        margin-top: 10px;
    }
}

/* -------------------------------------------------------------------------------- */

/* ------------------------------ BANNER ------------------------------------------ */

.banner {
    grid-area: banner;
}

.banner_img {
    width: 100%;
}

@media screen and (max-width: 425px) {
    .banner_img {
        height: 1000px;
        object-fit: cover;
    }

    .banner {
        overflow: hidden;
        display: flex;
        justify-self: center;
    }
}

@media screen and (max-width: 768px) {
    .banner_img {
        height: 900px;
        object-fit: cover;
    }

    .banner {
        overflow: hidden;
        display: flex;
        justify-self: center;
    }
}

/* -------------------------------------------------------------------------------- */
/* ------------------------------ MAIN -------------------------------------------- */

.main {   
    grid-area: main;
    justify-self: center;
    align-self: center;
    color: #444244;
    margin-top: 25px;
    margin-bottom: 40px;
}

.main_productos {   
    grid-area: banner;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    color: #444244;
    margin-top: 20px; 
    margin-bottom: 40px; 
}

.main_nosotros {   
    grid-area: banner;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #444244;
    width: auto;    
    margin-top: 90px; 
    margin-left: 80px;
}

.main_contacto {   
    grid-area: banner;
    display: flex;
    flex-direction: column;
    justify-self:flex-end;
    color: #444244;
    width: 500px;    
    margin-top: 90px; 

}

.main_galeria {   
    display: flex;
    align-items: center;
    justify-self: center;
    align-self: center;
    color: #444244;
}

.h1 {
    height: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

.h1_galeria {
    height: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

.p {
    justify-self: center;
    text-align: center;
    width: 1000px;
}

.p_galeria p{
    width: auto;
    justify-self: center;
    text-align: center;
    padding: 50px;
}

.p_nosotros {
    justify-self: center;
    text-align: center;

}

.p_galeria {
    margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
    .main {
        margin-top: 110px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 110px;
    }

    .h1 {
        margin-top: 100px;
    }
    

    .h1_galeria {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .h1_nosotros {
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 70px;
    }

    .p_galeria p{
        width: auto;
        justify-self: center;
        text-align: center;
        padding: 10px;
    }

    .main_nosotros {
        grid-area: banner;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        color: #444244;
        margin-top: 5px; 
        margin-bottom: 80px; 
        margin-left: 20px;
        margin-right: 20px;
    }

    .main_contacto {   
        justify-self: center;
        width: 500px;    
        margin-top: 90px; 
    
    }

    .p_nosotros {
        justify-self: center;
        text-align: center;
        width: 1000px;
        font-size: 43px;
    }

    .iframe{
        margin-top: 50px;
    }
}
/* -------------------------------------------------------------------------------- */
/* ------------------------------ SECTION ------------------------------------------ */

.galeria {
    grid-area: main;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.galeria_img {
    width: auto;
    height: 600px;
}

.b {
    grid-area: main;
    width: 500px;
    height: auto;
}

.nosotros_img {
    grid-area: main;
    display: flex;
}

.nosotros_img_contenedor {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contacto_form_contenedor {
    grid-area: main;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nosotros_img {
    height: auto;
    width: 700px;
}

@media screen and (max-width: 768px) {
    .nosotros_img_contenedor {
        grid-area: main;
        align-items: center;
    }
    
    .nosotros_img {
        height: auto;
        width: 100%;
    }
}
/* -------------------------------------------------------------------------------- */
/* ------------------------------ TABLAS ------------------------------------------- */

.tabla_diseño{
    color: #ffbaaf;
    border-collapse: collapse;
}

.tabla_diseño td{
    padding: 10px;
    background-color: #f6ede6;
    color: #444244;
}

.tabla_diseño th{
    background-color: #6b1630;
    padding: 10px;
    font-size: larger;
}

.imgtabla{
    display: block;
    height: 301px;
    width: 354px;
}

.imgTablaAnimacion img{
    transition: height 1s, width 1s;
}

.imgTablaAnimacion img:hover{
    height: 500px;
    width: auto;
}

.tabla_padre{
    grid-area: main;
    padding-bottom: 50pxs;
}
/* -------------------------------------------------------------------------------- */

/* ------------------------------ FOOTER -------------------------------------------- */

.footer {
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.footerb {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    padding: 20px;
}

.footer_style {
    background-color: #6b1630;
    border-top: groove 4px #ffbaaf;
    color: #ffbaaf;
}

.footer__lista {
    background-color: #6b1630;
    color: #ffbaaf;
    list-style: none;
}

.footer_h3 {
    padding-bottom: 15px;
}

.redes {
    position: fixed;
    bottom: 43%;
    right: 0px;
}

.redes img{
    display: block;
    width: 50px;
}

@media screen and (max-width: 768px) {
    .footer {
        height: 550px;
        font-size: 40px;
    }

    .footer_h3 {
        padding-bottom: 70px;
    }

    .width_footer {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .redes {
        display: none;
    }

}
/* -------------------------------------------------------------------------------- */
/* ------------------------------ FORMULARIO -------------------------------------- */



.fondo__form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
}

.cajaForm {
    background-color: #ffbaaf;
    padding: 20px ;
    border-radius: 20px;
}


.hijosformulario {
    margin: 0px 5px;
}

.animacionForm input:focus{
    transition: height 1s, width 1s;
}

.animacionForm input:focus {
    height: 500px;
    width: auto;
}

/* -------------------------------------------------------------------------------- */