@charset "UTF-8";
/* Variables */
/* Mixins */
/* Import */
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #444244;
  height: 25rem;
  padding: 10px; }

.mainNosotros {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #444244; }

.mainGaleria {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #444244; }

.mainContacto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #444244;
  height: 40rem; }

.sectionContacto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #444244;
  height: 40rem;
  padding: 20px; }

.lndEstilo {
  color: #b8224f; }

.main_productos {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  color: #444244;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 30px;
  width: auto; }

.h1 {
  text-align: center; }

.p {
  text-align: center;
  width: 70%; }

.p_productos {
  justify-self: center;
  text-align: center;
  width: 90%;
  margin-left: 58px; }

@media screen and (max-width: 768px) {
  .main {
    height: 40rem;
    justify-content: space-around; }
  .h1 {
    text-align: center;
    font-size: 32px; }
  .mainNosotros {
    height: 60rem;
    padding: 40px;
    justify-content: space-around; }
  .mainGaleria {
    height: 35rem;
    padding: 40px;
    justify-content: space-around; }
  .main_productos {
    margin-right: 20px; }
  .mainContacto {
    height: 38rem;
    padding: 30px; }
  .sectionContacto {
    height: 25rem; }
  .p_productos {
    justify-self: center;
    text-align: center;
    width: 100%;
    margin-left: 0px; }
  .p {
    width: 100%; }
  .iframe {
    margin-top: 0px;
    width: 100%;
    height: auto; } }

.header {
  display: flex;
  width: 100%;
  height: 8%;
  position: fixed;
  background-color: #6b1630;
  border-bottom: groove 4px #ffbaaf;
  height: auto;
  z-index: 999; }

.headerb {
  background-color: #6b1630;
  border-bottom: groove 4px #ffbaaf;
  z-index: 999;
  width: 100%;
  height: 12%; }

.s {
  max-width: 100%; }

.botonSandwich {
  background-color: #b8224f; }

.nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: auto; }

.sizeLogo {
  margin-top: 6px;
  margin-left: 5px;
  height: 50px;
  width: 50px; }

.sizeLogob {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 50px;
  width: 50px; }

.lista li {
  padding: 20px 20px;
  z-index: 1000;
  list-style: none; }

.listab li {
  padding-left: 12px;
  padding-right: 12px;
  z-index: 1000;
  list-style: none; }

.link {
  color: #dddcdc; }

.animacion :hover {
  color: #b8224f; }

.animacionb :hover {
  color: #6b1630; }

@media screen and (max-width: 768px) {
  .sizeLogo {
    margin-top: 10px;
    margin-left: 10px;
    height: 90px;
    width: 90px; }
  .lista li {
    font-size: 45px;
    margin-top: 10px; } }

.banner_img {
  width: 100%; }

@media screen and (max-width: 425px) {
  .banner_img {
    height: 410px;
    object-fit: none; }
  .banner {
    overflow: hidden;
    display: flex;
    justify-self: center; } }

@media screen and (max-width: 768px) {
  .banner_img {
    height: 410px;
    object-fit: none; }
  .banner {
    overflow: hidden;
    display: flex;
    justify-self: center; } }

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  width: 100%; }

.map {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  width: 100%;
  flex-wrap: wrap;
  height: auto; }

/* .footerb {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    padding: 20px;
} */
.footer_style_index {
  background-color: #6b1630;
  color: #ffbaaf; }

.footer_style {
  background-color: #6b1630;
  border-top: groove 4px #ffbaaf;
  color: #ffbaaf; }

.map_style {
  background-color: #b8224f;
  border-top: groove 4px #ffbaaf;
  color: #ffbaaf; }

.footer__lista {
  background-color: #6b1630;
  color: #ffbaaf;
  list-style: none; }

.map__lista {
  background-color: #b8224f;
  color: #ffbaaf;
  list-style: none;
  text-align: center; }

.footer_h3 {
  padding-bottom: 15px; }

.redes {
  position: fixed;
  bottom: 43%;
  right: 0px; }
  .redes img {
    display: block;
    width: 50px; }

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center; }
  .footer_h3 {
    padding-bottom: 70px; }
  .scroll {
    overflow: scroll; }
  .redes {
    display: none; } }

.fondo__form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.cajaForm {
  background-color: #ffbaaf;
  padding: 20px;
  border-radius: 20px; }

.hijosformulario {
  margin: 0px 5px; }

.animacionForm input:focus {
  transition: height 1s, width 1s; }

.animacionForm input:focus {
  height: 500px;
  width: auto; }

.galeria {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.galeria_img {
  width: auto;
  height: 600px; }

.b {
  width: 500px;
  height: auto; }

.nosotros_img {
  display: flex; }

.nosotros_img_contenedor {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.contacto_form_contenedor {
  display: flex;
  flex-direction: column;
  width: 100%; }

.nosotros_contenedor {
  height: auto;
  width: 700px; }

.hCarrusel {
  height: 100px !important; }

@media screen and (max-width: 768px) {
  .nosotros_img_contenedor {
    align-items: center; }
  .nosotros_img {
    height: auto;
    width: 100%; } }

.tabla_diseño {
  color: #ffbaaf;
  border-collapse: collapse; }
  .tabla_diseño td {
    padding: 10px;
    background-color: #f6ede6;
    color: #444244; }
  .tabla_diseño th {
    background-color: #6b1630;
    padding: 10px;
    font-size: larger; }

.imgtabla {
  display: block;
  height: 301px;
  width: 354px; }

/* OPERADOR */
.imgTablaAnimacion img {
  transition: height 1s, width 1s; }

.imgTablaAnimacion img:hover {
  height: 460.2px;
  width: auto; }

.tabla_padre {
  padding-bottom: 50pxs;
  width: 100%; }

/*Body*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

.bodyb {
  font-family: 'Roboto', sans-serif;
  font-size: larger; }
