@charset "UTF-8";
/* Variables */
/* Mixins */
/* Import */
.main {
  justify-self: center;
  align-self: center;
  color: #444244;
  margin-top: 25px;
  margin-bottom: 40px;
  margin-left: 320px; }

.main_productos {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  color: #444244;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 30px;
  width: auto; }

.main_nosotros {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #444244;
  width: auto;
  margin-top: 90px;
  margin-left: 80px; }

.main_contacto {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  color: #444244;
  width: 500px;
  margin-top: 90px; }

.main_galeria {
  display: flex;
  align-items: center;
  justify-self: center;
  align-self: center;
  color: #444244; }

.h1 {
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center; }

.h1_galeria {
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center; }

.p {
  justify-self: center;
  text-align: center;
  width: 70%; }

.p_productos {
  justify-self: center;
  text-align: center;
  width: 90%;
  margin-left: 58px; }

.p_nosotros {
  justify-self: center;
  text-align: center; }

.p_galeria {
  margin-bottom: 60px; }
  .p_galeria p {
    width: auto;
    justify-self: center;
    text-align: center;
    padding: 50px; }

@media screen and (max-width: 768px) {
  .main {
    justify-self: center;
    margin-top: 90px;
    margin-left: 0px; }
  .h1 {
    margin-top: 50px; }
  .h1_galeria {
    margin-top: 50px;
    margin-bottom: 30px; }
  .h1_nosotros {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center; }
  .p_galeria {
    margin-bottom: 0px; }
    .p_galeria p {
      width: auto;
      justify-self: center;
      text-align: center;
      padding: 10px; }
  .main_nosotros {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    color: #444244;
    margin-top: 5px;
    margin-bottom: 80px;
    margin-left: 20px;
    margin-right: 20px; }
  .main_productos {
    margin-right: 20px; }
  .main_contacto {
    justify-self: center;
    width: 500px;
    margin-top: 90px; }
  .p_nosotros {
    justify-self: center;
    text-align: center;
    width: 1000px; }
  .p_productos {
    justify-self: center;
    text-align: center;
    width: 100%;
    margin-left: 0px; }
  .p {
    justify-self: center;
    text-align: center;
    width: 100%; }
  .iframe {
    margin-top: 0px;
    width: 100%;
    height: auto; } }

.header {
  display: flex;
  width: 100%;
  height: 8%;
  position: fixed;
  background-color: #6b1630;
  border-bottom: groove 4px #ffbaaf;
  height: auto;
  z-index: 999; }

.headerb {
  /*  position: fixed; */
  background-color: #6b1630;
  border-bottom: groove 4px #ffbaaf;
  z-index: 999;
  width: 100%;
  height: 12%; }

.s {
  max-width: 100%; }

.botonSandwich {
  background-color: #c92a5a; }

.nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: auto; }

.sizeLogo {
  margin-top: 6px;
  margin-left: 5px;
  height: 50px;
  width: 50px; }

.sizeLogob {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 50px;
  width: 50px; }

.lista li {
  padding: 20px 20px;
  z-index: 1000;
  list-style: none; }

.listab li {
  padding-left: 12px;
  padding-right: 12px;
  z-index: 1000;
  list-style: none; }

.link {
  color: #ffbaaf; }

.animacion :hover {
  color: #c92a5a; }

@media screen and (max-width: 768px) {
  .sizeLogo {
    margin-top: 10px;
    margin-left: 10px;
    height: 90px;
    width: 90px; }
  .lista li {
    font-size: 45px;
    margin-top: 10px; } }

.banner_img {
  width: 100%; }

@media screen and (max-width: 425px) {
  .banner_img {
    height: 410px;
    object-fit: none; }
  .banner {
    overflow: hidden;
    display: flex;
    justify-self: center; } }

@media screen and (max-width: 768px) {
  .banner_img {
    height: 410px;
    object-fit: none; }
  .banner {
    overflow: hidden;
    display: flex;
    justify-self: center; } }

.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  width: 100%; }

.footerb {
  display: flex;
  justify-content: space-evenly;
  width: auto;
  padding: 20px; }

.footer_style {
  background-color: #6b1630;
  border-top: groove 4px #ffbaaf;
  color: #ffbaaf; }

.footer__lista {
  background-color: #6b1630;
  color: #ffbaaf;
  list-style: none; }

.footer_h3 {
  padding-bottom: 15px; }

.redes {
  position: fixed;
  bottom: 43%;
  right: 0px; }
  .redes img {
    display: block;
    width: 50px; }

@media screen and (max-width: 768px) {
  .footer {
    height: 550px;
    font-size: 20px; }
  .footer_h3 {
    padding-bottom: 70px; }
  .width_footer {
    width: 100%; } }

@media screen and (max-width: 768px) {
  .redes {
    display: none; } }

.fondo__form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.cajaForm {
  background-color: #ffbaaf;
  padding: 20px;
  border-radius: 20px; }

.hijosformulario {
  margin: 0px 5px; }

.animacionForm input:focus {
  transition: height 1s, width 1s; }

.animacionForm input:focus {
  height: 500px;
  width: auto; }

.galeria {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.galeria_img {
  width: auto;
  height: 600px; }

.b {
  width: 500px;
  height: auto; }

.nosotros_img {
  display: flex; }

.nosotros_img_contenedor {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.contacto_form_contenedor {
  display: flex;
  flex-direction: column;
  width: 100%; }

.nosotros_img {
  height: auto;
  width: 700px; }

@media screen and (max-width: 768px) {
  .nosotros_img_contenedor {
    align-items: center; }
  .nosotros_img {
    height: auto;
    width: 100%; } }

.tabla_diseño {
  color: #ffbaaf;
  border-collapse: collapse; }
  .tabla_diseño td {
    padding: 10px;
    background-color: #f6ede6;
    color: #444244; }
  .tabla_diseño th {
    background-color: #6b1630;
    padding: 10px;
    font-size: larger; }

.imgtabla {
  display: block;
  height: 301px;
  width: 354px; }

/* OPERADOR */
.imgTablaAnimacion img {
  transition: height 1s, width 1s; }

.imgTablaAnimacion img:hover {
  height: 460.2px;
  width: auto; }

.tabla_padre {
  padding-bottom: 50pxs;
  width: 100%;
  overflow: scroll; }

/*Body*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

.bodyb {
  font-family: 'Roboto', sans-serif;
  font-size: larger;
  width: auto;
  overflow-x: hidden; }

@media screen and (max-width: 768px) {
  .bodyb {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    width: auto;
    overflow-x: hidden; } }
