.banner_img {
    width: 100%;
}

@media screen and (max-width: 425px) {
    .banner_img {
        height: 410px;
        object-fit: none;
    }

    .banner {
        overflow: hidden;
        display: flex;
        justify-self: center;
    }
}

@media screen and (max-width: 768px) {
    .banner_img {
        height: 410px;
        object-fit: none;
    }

    .banner {
        overflow: hidden;
        display: flex;
        justify-self: center;
    }
}