.banner {
    img {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .banner {
        overflow: hidden;
        display: flex;
        justify-self: center;
            img {
                height: 410px;
                object-fit: none;
            }
    }
}

@media screen and (max-width: 768px) {
    .banner {
        overflow: hidden;
        display: flex;
        justify-self: center;
            img {
                height: 410px;
                object-fit: none;
            }
    }
}