.banner {
    grid-area: banner;
}

.banner_img {
    width: 100%;
}

@media screen and (max-width: 425px) {
    .banner_img {
        height: 1000px;
        object-fit: cover;
    }

    .banner {
        overflow: hidden;
        display: flex;
        justify-self: center;
    }
}

@media screen and (max-width: 768px) {
    .banner_img {
        height: 900px;
        object-fit: cover;
    }

    .banner {
        overflow: hidden;
        display: flex;
        justify-self: center;
    }
}