.fondo__form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
}

.cajaForm {
    background-color: #ffbaaf;
    padding: 20px ;
    border-radius: 20px;
}


.hijosformulario {
    margin: 0px 5px;
}

.animacionForm input:focus{
    transition: height 1s, width 1s;
}

.animacionForm input:focus {
    height: 500px;
    width: auto;
}