.main {   
    justify-self: center;
    align-self: center;
    color: $colorFuente;
    margin-top: 25px;
    margin-bottom: 40px;
    margin-left: 320px;
}

.main_productos {   
    @include flex-column;
    justify-self: center;
    align-self: center;
    color: $colorFuente;
    margin-top: 20px; 
    margin-bottom: 40px; 
    margin-left: 30px;
    width: auto;
}

.main_nosotros {   
    @include flex-column;
    justify-content: space-between;
    align-items: center;
    color: $colorFuente;
    width: auto;    
    margin-top: 90px; 
    margin-left: 80px;
}

.main_contacto {   
    @include flex-column;
    justify-self:flex-end;
    color: $colorFuente;
    width: 500px;    
    margin-top: 90px; 

}

.main_galeria {   
    display: flex;
    align-items: center;
    justify-self: center;
    align-self: center;
    color: $colorFuente;
}

.h1 {
    height: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

.h1_galeria {
    height: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

.p {
    justify-self: center;
    text-align: center;
    width: 70%;
}

.p_productos {
    justify-self: center;
    text-align: center;
    width: 90%;
    margin-left: 58px;
}

.p_nosotros {
    justify-self: center;
    text-align: center;

}

.p_galeria {
    margin-bottom: 60px;
        p{
            width: auto;
            justify-self: center;
            text-align: center;
            padding: 50px;
        }
}

@media screen and (max-width: 768px) {
    .main {
        justify-self: center;
        margin-top: 90px;
        margin-left: 0px;
    }

    .h1 {
        margin-top: 50px;
    }
    

    .h1_galeria {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .h1_nosotros {
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }

    .p_galeria {
        margin-bottom: 0px;
        p{
            width: auto;
            justify-self: center;
            text-align: center;
            padding: 10px;
        }
    }
    .main_nosotros {
        @include flex-column;
        justify-self: center;
        align-self: center;
        color: $colorFuente;
        margin-top: 5px; 
        margin-bottom: 80px; 
        margin-left: 20px;
        margin-right: 20px;
    }

    .main_productos {
        margin-right: 20px;
    }

    .main_contacto {   
        justify-self: center;
        width: 500px;    
        margin-top: 90px; 
    
    }

    .p_nosotros {
        justify-self: center;
        text-align: center;
        width: 1000px;
    }

    .p_productos {
        justify-self: center;
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    .p {
        justify-self: center;
        text-align: center;
        width: 100%;
    }

    .iframe {
        margin-top: 0px;
        width: 100%;
        height: auto;
    }
}