.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: $colorFuente;
    height: 25rem;
    padding: 10px;
}

.mainNosotros {   
    @include flex-column;
    justify-content: space-evenly;
    align-items: center;
    color: $colorFuente;
}

.mainGaleria {   
    @include flex-column;
    justify-content: space-evenly;
    align-items: center;
    color: $colorFuente;
}

.mainContacto {   
    @include flex-column;
    justify-content: space-evenly;
    align-items: center;
    color: $colorFuente;
    height: 40rem;
}


.lndEstilo {
    color: $colorTerciario;
}

.mainProductos {   
    @include flex-column;
    justify-content: space-evenly;
    align-items: center;
    color: $colorFuente;
    height: 23rem;
    padding: 20px;
}

.mainProducto {
    @include flex-column;
    justify-content: space-around;
    align-items: flex-start;
    color: $colorFuente;
    width: 50%;
    padding-left: 30px;
}

.h1 {
    text-align: center;
}

.h1Producto {
    font-size: 5rem;
}

.p {
    text-align: center;
    font-size: 20px;
    width: 70%;
}

.pProducto {
    font-size: 25px;
}

.pPrecio {
    font-size: 20px;
}

.botonProducto {
    width: 10rem;
    height: 3rem;
    font-size: 20px;
}

@media screen and (max-width: 1025px) {
    .main {
        height: 40rem;
        justify-content: space-around;
    }

    .mainProducto {
        height: 30rem;
    }

    .h1 {
        text-align: center;
        font-size: 32px;
    }

    .h1Producto {
        font-size: 3rem;
    }
    
    .pProducto {
        font-size: 20px;
    }
    
    .pPrecio {
        font-size: 15px;
    }

    .mainNosotros {
        height: 60rem;
        padding: 40px;
        justify-content: space-around;
    }

    .mainGaleria {
        height: 35rem;
        padding: 40px;
        justify-content: space-around;
    }

    .mainContacto {   
        height: 38rem;
        padding: 30px;
    }

    .mainProducto {
        width: 100%;
        padding-left: 30px;
    }

    .p {
        width: 100%;
    }

    .iframe {
        margin-top: 0px;
        width: 100%;
        height: auto;
    }
}