
/* Aquí se creo codigo repetido para más adelante ajustar el tamaño de los contenedores segun el texto de la pagina en la vista responsiva */
.mainNosotros {   
    @include flex-column;
    justify-content: space-evenly;
    align-items: center;
    color: $colorFuente;
        p {
            text-align: center;
            font-size: 20px;
            width: 70%;
        }
    }

.main {
    @extend .mainNosotros;
    height: 25rem;
    padding: 10px;
}

.mainGaleria {   
    @extend .mainNosotros;
}

.mainContacto {   
    @extend .mainNosotros;
    height: 40rem;
}

.mainProductos {   
    @extend .mainNosotros;
    height: 23rem;
    padding: 20px;
}

.mainProducto {
    @include flex-column;
    justify-content: space-around;
    align-items: flex-start;
    color: $colorFuente;
    width: 50%;
    padding-left: 30px;
        h1 {
            font-size: 5rem;        
}
}

.pProducto {
    font-size: 25px;
}

.pPrecio {
    font-size: 20px;
}

.h1Main {
    color:$colorFuente;
}

.botonProducto {
    width: 10rem;
    height: 3rem;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .pProducto {
        font-size: 20px;
    }
    
    .pPrecio {
        font-size: 15px;
    }

    .mainNosotros {
        height: 60rem;
        padding: 40px;
        justify-content: space-around;
            p {
                width: 100%;
            }
    }

    .main {
        height: 50rem;
        justify-content: space-around;
            p {
                width: 100%;
            }
    }

    .mainProductos {   
        height: 44rem;
    }

    .mainProducto {
        height: 30rem;
            h1 {
                font-size: 3rem;
            }
    }

    .mainGaleria {
        height: 35rem;
        padding: 40px;
        justify-content: space-around;
            p {
                width: 100%;
            }
    }

    .mainContacto {   
        height: 38rem;
        padding: 30px;
            p {
                width: 100%;
            }
    }

    .mainProducto {
        width: 100%;
        padding-left: 30px;
            p {
                width: 100%;
            }
    }

    .iframe {
        margin-top: 0px;
        width: 100%;
        height: auto;
    }
}