.galeria {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.h2 {
    text-align: center;
    padding-bottom: 40px;
}

.sectionProductos {
    width: 100%;
}

.sectionContacto {   
    @include flex-column;
    justify-content: space-evenly;
    color: $colorFuente;
    height: 40rem;
    padding: 20px;
}

.linkProducto {
    color: white;
}

.b {

    width: 500px;
    height: auto;
}

.contacto_form_contenedor {
    @include flex-column;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .sectionContacto {   
        height: 25rem;
    }
}

