.galeria {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.galeria_img {
    width: auto;
    height: 600px;
}

.b {

    width: 500px;
    height: auto;
}

.nosotros_img {
    display: flex;
}

.nosotros_img_contenedor {
    @include flex-column;
    align-items: flex-end;
}

.contacto_form_contenedor {
    @include flex-column;
    width: 100%;
}

.nosotros_img {
    height: auto;
    width: 700px;
}

@media screen and (max-width: 768px) {
    .nosotros_img_contenedor {
        align-items: center;
    }
    
    .nosotros_img {
        height: auto;
        width: 100%;
    }
}