.tabla_diseño {
    color: $colorSecundario;
    border-collapse: collapse;
        td{
            padding: 10px;
            background-color: #f6ede6;
            color: $colorFuente;
        }
        th{
            background-color: $colorPrincipal;
            padding: 10px;
            font-size: larger;
        }
}

.imgtabla{
    display: block;
    height: 301px;
    width: 354px;
}

/* OPERADOR */

.imgTablaAnimacion {
    img{
    transition: height 1s, width 1s;
    }
    img:hover{
        height: $heigthImgTabla*1.3;
        width: auto;
    }
}

.tabla_padre {
    padding-bottom: 50pxs;
    width: 100%;
}
