/* Variables */

$colorPrincipal: #6b1630;
$colorSecundario: #ffbaaf;
$colorFuente: #444244;

/* Import */

@import "./mains";
@import "./header";
@import "./banner";
@import "./footer";
@import "./form";
@import "./section";
@import "./tablas";

/*Body*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.body {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    display: grid;
    grid-template-columns: 1fr 7fr 8fr;
    grid-template-rows: 0.3fr auto auto 1fr;
    grid-template-areas: 
    "header header header"
    "banner banner banner"
    "main main main"
    "footer footer footer";
}

.bodyb {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    width: auto;
    overflow-x: hidden;
}


.body_galeria {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 0.3fr auto auto auto;
    grid-template-areas: 
    "header header"
    "banner banner"
    "main main"
    "footer footer";
}

.body_nosotros {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 0.3fr auto auto 1fr;
    grid-template-areas: 
    "header header"
    "banner main"
    "banner main"
    "footer footer";
}

@media screen and (max-width: 768px) {

    .body {
        font-size: 38px;
        grid-template-columns: auto auto;
        grid-template-rows: 0.1fr auto auto 1fr;
        grid-template-areas: 
        "header header"
        "banner banner"
        "main main"
        "footer footer";
    }

    .bodyb {
        font-family: 'Roboto', sans-serif;
        font-size: larger;
        width: auto;
        overflow-x: hidden;
    }

    .body_nosotros {
        font-family: 'Roboto', sans-serif;
        font-size: larger;
        display: grid;
        grid-template-columns:  auto auto;
        grid-template-rows: 0.3fr auto auto 1fr;
        grid-template-areas: 
        "header header"
        "banner banner"
        "main main"
        "footer footer";
    }
}

