/* Variables */

$colorPrincipal: #6b1630;
$colorSecundario: #ffbaaf;
$colorTerciario: #b8224f;
$colorFuente: #444244;
$widthImgTabla: 301px;
$heigthImgTabla: 354px;

/* Mixins */

@mixin flex-column {
    display: flex;
    flex-direction: column;
}


/* Import */

@import "./mains";
@import "./header";
@import "./banner";
@import "./footer";
@import "./form";
@import "./section";
@import "./tablas";


/*Body*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.bodyb {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

